body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background: rgb(0, 0, 0);
}

h2 {
    margin-bottom: 0 !important;
}

/* Prevent transition until page is fully loaded
================================================================== */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* Scrollbar
================================================================== */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(67, 0, 94);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(99, 0, 138);
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(rgba(126, 0, 151, 0.849)),
            to(rgb(71, 0, 88)),
            color-stop(.6, rgb(71, 0, 104)))
}

/* Brand / Logo
================================================================== */
#brand {
    display: block;
    margin: auto;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
}

/* Navbar
================================================================== */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0;
    z-index: 500;
    background: #050505;
}

.navbar-wrap {
    justify-content: space-evenly;
    z-index: 250;
}

.navbar-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin-top: 1em;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -ms-center;
}

.nav-link {
    align-self: flex-start;
    width: 150px;
    color: rgb(255, 255, 255);
    background: rgba(54, 0, 54, 0.836);
    font-family: 'Karla', sans-serif;
    font-variant: small-caps;
    font-size: 1.2em;
    padding: 0 0.5em;
    border-color: #343a40;
    box-shadow: 0 0 10px 2px rgb(54, 0, 54);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    background: rgba(54, 0, 54, 0.726);
    box-shadow: 1px 1px 25px 10px rgba(216, 146, 248, 0.4);
}

.navbar-toggler:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* ==== Button Effects ==== */
.btn {
    position: relative;
    overflow: hidden;
    border-radius: 0%;
}
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(233, 146, 248, 0.4),
      transparent
    );
    transition: all 650ms;
}
  
.btn:hover:before {
    left: 100%;
}

#up-arrow {
    transition: all 0.25s;
}

#up-arrow:hover {
    cursor: pointer;
    color: #343a40;
}

/* Hero-Image
================================================================== */
.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../images/spaceTreeMoonWide.jpg") no-repeat;
    height: 100%;
    min-height: 725px;
    background-position: 50% 75%;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-hero {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
}

.second-hero {
    color: cyan;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1.5px;
}

.hero-brand {
    margin: 1em 0;
    max-width: 40%;
    transition: all 10s;
    border-radius: 50%;
    color: #ebebeb;
    box-shadow: 0 0 10px 7px rgb(48, 0, 48);
}

.hero-brand:hover {
    cursor: pointer;
    transform: rotate(3600deg);
}

.hero-btn-wrap {
    width: 100%;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 1em;
}

.hero-btn {
    color: rgb(255, 255, 255);
    background: rgba(54, 0, 54, 0.288);
    font-family: 'Karla', sans-serif;
    font-variant: small-caps;
    font-size: 1.2em;
    box-shadow: 0 0 10px 2px rgb(54, 0, 54);
    border-color: #343a40;
    padding: 0.25em 1em;
}

.hero-btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(54, 0, 54, 0.6);
}

/* About Me
================================================================== */
.about-wrap {
    min-height: 725px;
    margin-bottom: 1em;
}

.about-top {
    background: #050505;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 80%;
    min-height: 400px;
    padding: 6em 0;
}

.about-top h2 {
    font-weight: bold;
}

.about-top h5 {
    padding: 1em 0;
    line-height: 1.5;
}

.about-content {
    max-width: 70%;
    margin-top: -5em;
    background: lavender;
    text-align: center;
}

.about-content .col-4 {
    border: 1px solid rgb(211, 211, 211);
}

.about-content i {
    margin: 0.5em 0;
}

.about-content-header {
    font-weight: bold;
}

/* Projects
================================================================== */
.projects-wrap {
    min-height: 725px;
    background: #050505;
    font-family: 'Poppins', sans-serif;
    padding-top: 3em;
}

.projects-wrap h2 {
    color: white;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}

.carousel-item {
    max-height: 550px;
}

.carousel-caption {
    width: 100%;
    background: #111111d3;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-btn {
    color: rgb(255, 255, 255);
    background: rgba(54, 0, 54, 0.555);
    font-family: 'Karla', sans-serif;
    font-variant: small-caps;
    font-size: 1em;
    box-shadow: 0 0 10px 2px rgb(54, 0, 54);
    border-color: #343a40;
    padding: 0.25em 1em;
    margin: 0 0.5em;
}

.carousel-btn:hover {
    color: rgb(255, 255, 255);
    background: rgba(56, 0, 56, 0.89);
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 100;
}

.fa-angle-left,
.fa-angle-right,
.fa-arrow-circle-up {
    color: rgb(142, 0, 224);
}
/* Contact
================================================================== */
.contact-wrap {
    min-height: 600px;
    padding-top: 3.5em;
    background: #050505;
    font-family: 'Poppins', sans-serif;
}

.contact-top {
    background: lavender;
    height: 80%;
    min-height: 400px;
}

.contact-top h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}

.contact-content {
    background: #050505;
    color: white;
    padding: 2em;
    margin-top: 2em;
    letter-spacing: 2px;
}

.contact-content h4 {
    font-weight: bold;
}

.contact-content a {
    text-decoration: none;
    color: white;
    transition: all 0.25s
}

.contact-content a:hover {
    color: rgb(121, 0, 158);
}

.contact-bottom {
    background: #111111;
}

/* Footer
================================================================== */
.footer {
    background: lavender;
}

.footer a {
    text-decoration: none;
    color: #111111;
}

.footer i {
    transition: all 0.25s;
}

.footer i:hover {
    cursor: pointer;
    color: rgb(117, 0, 117);
}

.footer p {
    margin-top: 1em;
    margin-bottom: 0;
}

/* Media Queries
================================================================== */
@media screen and (max-width: 960px) {
    .about-top .container {
        width: 85% !important;
    }
    .about-content {
        max-width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .carousel-caption {
        display: block !important;
        position: relative;
    }
}
@media screen and (max-width: 676px) {
    .nav-link {
        margin: 0.5em 2em;
    }
    .hero-text {
        width: 90%;
        top: 62%;
    }
    .about-content h5 {
        font-size: 1.2em;
    }
    .about-content .row {
        font-size: 80%;
    }
}
@media screen and (max-width: 508px) {
    .nav-link {
        margin: 0.5em 1em !important;
    }
}
@media screen and (max-width: 420px) {
    .nav-link {
        width: 125px;
        margin: 0.5em 0.25em !important;
    }
    .about-top .container {
        width: 90% !important;
    }
    .about-content {
        max-width: 100% !important;
    }
    .about-content h5 {
        font-size: 1em !important;
    }
    .about-content .row {
        font-size: 70% !important;
    }
    .projects-wrap {
        min-height: 420px;
    }
    .carousel-btn {
        font-size: 0.9em;
    }
    .contact-content {
        font-size: 20%;
    }
}
